*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    overflow: hidden;
    position: absolute;
}
#main{
    display: flex;
    width: 100%;
    height: 100%;
}

input {
    display: flex;
    margin: 4px ;
    padding: 4px ;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-left: 50px;
    margin-top: 50px;
    padding: 20px;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 5px;
}

.profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    overflow: hidden;
}

.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.card p{
    margin-top: 10px;
}

h1{
    font-size: 10rem;
    font-weight: 300;
    color: #555;
    user-select: none;
}

input{
    display: none;
}

#btn{
    padding: 12px 22px;
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
}

#btn:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid black;
}

#abcd{
    position: absolute;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
    width: 200px;
    height: 200px;
    background-color: #000;
}

.lt{
    text-decoration: line-through;
}