* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#main{
    border: 1px solid black;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#count{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    border: 1px solid black;
}

#btn{
    width: 100%;
    height: 20%;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#btn button{
    border: none;
    padding: 1rem 2rem;
    border-radius: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background-color: black;
    color: #fff;
    cursor: pointer;
}

